@model ELMS.Infrastructure.Models.StudentLecture

@{
    ViewData["Title"] = "";
}


<div class="card">
    <div class="card-header">
        <div class="col-sm-12">
            <label class="card-subtitle">Student Lecture Create</label>
            <a asp-action="Index" class="btn bg-dark btn-sm float-right">
                <i class="fa fa-backward"></i> Back to List
            </a>

        </div>
    </div>
    <div id="viewAll" class="card-body ">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="StudentId" class="control-label"></label>
                            <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="LectureId" class="control-label"></label>
                            <select asp-for="LectureId" class="form-control" asp-items="ViewBag.LectureId"></select>
                        </div>

                    </div>
                    <div class="form-group col-md-4">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
