@using ELMS.Infrastructure.Identity.Models;
@model ELMS.Infrastructure.Identity.Models.ApplicationUser
<div class="container-fluid">
    <div>
        <img src="~/images/logo-transparent.png" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height:200px;" />
    </div>
    <br />

    <h2 class="text-center display-4">Wellcome to ELMCOM Dashboard! Mr " " @User.Identity.Name  </h2>

</div>