

<div class="container-fluid">
    <div>
        <img src="~/images/logo.jpeg" style="display: block; margin-left: auto; margin-right: auto; height:200px;" />
    </div>
    <br />

    <h2 class="text-center display-4">Wellcome to ELMCOM! </h2>
    <h4 class="text-center">@User.Identity.Name </h4>

</div>