@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <partial name="_Styles" />
</head>
<body>
   
    <div class="content-wrapper mrl-zero" id="contentWrapper" style="background: url('/images/blue-snow.jpg');
background-position: absolute; background-size: cover; ">
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-6 col-lg-8 col-md-9">

                    <div class="card o-hidden border-0 my-5" style="background-color:#ffffff">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                
                                <div class="col-lg-12">
                                    <img src="~/images/logo.jpeg" style="width:inherit" />
                                    <div style="padding:3rem 3rem 3rem 3rem !important;">
                                        
                                        <form class="user" id="account" method="post">
                                            <div class="form-group">
                                                <label class="control-label">Username/Email</label>
                                                <input asp-for="Input.Email" type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                                <small><span asp-validation-for="Input.Email" class="text-danger"></span></small>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Password</label>
                                                <input asp-for="Input.Password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                                <small><span asp-validation-for="Input.Password" class="text-danger"></span></small>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Login
                                            </button>
                                           
                                        </form>
                                        <hr>
                                        @*<div class="text-center">
                                            <a asp-area="Identity" asp-page="/Account/forgotpassword" class="small">@localizer["Forgot Password?"]</a>
                                        </div>*@
                                        <div class="text-center">
                                            <a asp-area="Identity" asp-page="/Account/register" class="small">Create an Account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_Scripts" />
</body>
</html>
@await Component.InvokeAsync("Notyf")